---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title} description={entry.data.description}>
  <main>
    <nav role="navigation">
      <ul role="list" class="flex flex-row gap-2">
        <li>
          <a
            href="/"
            class="hover:text-black text-muted-foreground dark:hover:text-neutral-100"
            >Home</a
          >
        </li>
        <li class="text-muted-foreground">/</li>
        <li>
          <a
            href="/blog"
            class="hover:text-black text-muted-foreground dark:hover:text-neutral-100"
            >Posts</a
          >
        </li>
        <li class="text-muted-foreground">/</li>
        <li class="max-w-32 sm:max-w-80">
          <a
            href=`/blog/${entry.slug}`
            class="text-black dark:text-white dark:hover:text-neutral-100 truncate block"
            >{entry.slug}</a
          >
        </li>
      </ul>
    </nav>
    <div class="md:container md:max-w-3xl">
      <h1 class="py-10">
        {entry.data.title}
      </h1>
      <article
        class="prose prose-neutral dark:prose-invert prose-sm md:prose-base"
      >
        <Content />
      </article>
    </div>
  </main>
</BaseLayout>
