---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { Separator } from "@/components/ui/separator";
import { buttonVariants } from "@/components/ui/button";
import { Facebook, Linkedin } from "lucide-react";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout
  title={entry.data.title}
  description={entry.data.description}
  ogImage={entry.data.image?.src}
>
  <main>
    <nav role="navigation">
      <ul role="list" class="flex flex-row gap-2">
        <li>
          <a
            href="/"
            class="hover:text-black text-muted-foreground dark:hover:text-neutral-100"
            >Home</a
          >
        </li>
        <li class="text-muted-foreground">/</li>
        <li>
          <a
            href="/blog"
            class="hover:text-black text-muted-foreground dark:hover:text-neutral-100"
            >Posts</a
          >
        </li>
        <li class="text-muted-foreground">/</li>
        <li class="max-w-32 sm:max-w-80">
          <a
            href=`/blog/${entry.slug}`
            class="text-black dark:text-white dark:hover:text-neutral-100 truncate block"
            >{entry.slug}</a
          >
        </li>
      </ul>
    </nav>
    <div class="md:container md:max-w-3xl">
      <h1 class="py-10">
        {entry.data.title}
      </h1>
      <article
        class="prose prose-neutral dark:prose-invert prose-sm md:prose-base"
      >
        <Content />
      </article>
      <div class="py-6 space-y-8">
        <Separator />
        <h2 class="font-bold text-2xl">Share this article</h2>
        <a
          class={buttonVariants({ variant: "ghost" }) + " text-2xl"}
          href=`https://x.com/intent/tweet?text=${entry.data.title} https://kotogavr.vercel.app/blog/${entry.slug}`
          target="_blank"
          rel="noopener noreferrer"
        >
          ğ•
        </a>
        <a
          class={buttonVariants({ variant: "ghost" }) + " text-2xl"}
          href=`https://www.facebook.com/sharer/sharer.php?u=https://kotogavr.vercel.app/blog/${entry.slug}&quote=`
          target="_blank"
          rel="noopener noreferrer"><Facebook /></a
        >
        <a
          class={buttonVariants({ variant: "ghost" }) + " text-2xl"}
          href=`https://www.linkedin.com/shareArticle/?mini=true&url=https://kotogavr.vercel.app/blog/${entry.slug}&summary=&source=AddToAny`
          target="_blank"
          rel="noopener noreferrer"
        >
          <Linkedin /></a
        >
      </div>
      <Separator />
      <div class="py-6 space-y-8">
        <h2 class="font-bold text-2xl">Related articles</h2>
        <div>{entry.data.relatedPosts}</div>
      </div>
    </div>
  </main>
</BaseLayout>
